@* @page "/"  *@
@* @using ms2.Components.Layout *@
@* @layout FirstLayout *@
@* @using ms2.Models *@

@* <h1>Welcome to the Login Page</h1> *@
@* <p>Content for the Login page goes here.</p> *@
@* <Register/> *@